@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #FCB713;
  --color-primary-foreground: #1a1a1a;
  --color-primary-hover: #F8AB4F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.YellowBGColor{
background-color:  #ef8405;
}

.OrangeColor{
color:  #FF7A10;
}

.YellowBGColor:hover{
background-color:  #bc7522;
}

.rounded-button{
  border-radius: 7px;
}

.Bg-gray
{
  background-color: #E9EDEF;
}

.gradient-hero {
  background: #3D474C;
  background: linear-gradient(90deg, rgb(61 71 76) 39%, rgba(61, 71, 76, 0.8) 68%, rgba(61, 71, 76, 0) 100%);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}
